.button {
  outline: none;
  height: 44px;
  box-sizing: border-box;
  padding: 2px 30px 0 30px;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  border: none;
  border-radius: 22px;
  background-color: #730E15;
  color: #ffffff;
  position: relative;

  &:hover {
    background-color: #9a222b;
  }

  &:active {
    background-color: #6c0a0b;
    outline: 0;
    transform: translateY(2px);
  }

  &:disabled {
    background-color: #bf7275;
  }

  &--reverse-color {
    background-color: #ffffff;
    color: #730E15;
    border: 2px solid #730E15;

    &:hover {
      background-color: #bfbfbf;
    }
  }

  &--alert {
    margin: 0 10px;
  }
}
