@import 'colors';
@import 'button';

.section-title {
  font-size: 36px;
  font-weight: bold;
  color: #000000;
}

.section-text {
  font-size: 18px;
  color: #000000;
}

.item-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.item {
  background-color: #FFFFFF;
  border-radius: 12px;
  padding: 20px;
  margin: 10px 0;

  &--big {
    width: 100%;
  }
}

.table {
  box-sizing: border-box;
  width: 100%;
}

.table__row {
  box-sizing: border-box;
  height: 50px;
  line-height: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  overflow: auto;

  &:first-child {
    border-radius: 12px 12px 0 0;
  }

  &:last-child {
    border-radius: 0 0 12px 12px;
  }

  &--headers {
    background-color: #730E15;
    color: #FFFFFF;
  }

  &:nth-child(2n+3) {
    background: #ee7e85;
  }

  &:nth-child(even) {
    background: #f6bec3;
  }
}

.table__column {
  padding: 0 15px;
}

/deep/ .vs__dropdown-option--highlight {
  background-color: #bf7275;
}
