<div class="email__title"><%= t('devise_mailer.password_reset.header') %></div>
<div class="email__text"><%= t('devise_mailer.password_reset.body').html_safe %></div>
<div class="email__button-wrapper">
  <a class="email__button" href="<%= @url.html_safe %>"><span style="color: #ffffff"><%= t('devise_mailer.password_reset.button') %></span></a>
</div>
