<!DOCTYPE html>
<html>
  <head>
    <title>Horario</title>
    <%= csrf_meta_tags %>
  </head>
  <style>
    body {
      margin: 0;
      padding: 0;
    }
  </style>

  <body>
    <%= yield %>
  </body>
</html>
